%li{id: "#{list.id}"}
  %span.name
    = link_to wrap(list.name), list_path(list.id)
    - if list.private?
      %i.icon-lock

    %span.item-count
    | #{pluralize(list.items.size, 'item')}

    %span.timestamp
      Updated #{time_ago_in_words(list.updated_at)} ago.

    - if signed_in? && can?(:delete, list) && list.items.count == 0
      = link_to "delete", list, method: :delete, |
        data: { confirm: "You sure?" },          |
        title: list.name                         |
