<li id="<%= list.id %>">
  <span class="name">
  <%= link_to wrap(list.name), list_path(list.id) %>
  <% if list.private? %>
    <i class="icon-lock"></i>
  <% end %>
  <span class="item-count">
  | <%= pluralize(list.items.size, 'item') %>
  </span>
  </span>
	<span class="timestamp">
		Updated <%= time_ago_in_words(list.updated_at) %> ago.
	</span>
	<% if signed_in? && current_user?(list.user) %>
    <%= link_to "delete", list, method: :delete,
                                  data: { confirm: "You sure?" },
                                  title: list.name %>
	<% end %>
</li>
