<% provide(:title, @list.name) %>
<div class="row">
  <aside class="col-sm-4 col-md-4">
    <section>
      <h1>
        <%= @list.name %>
        <% if @list.private? %>
          <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
        <% end %>
      </h1>

      <span>
        <% if can?(:update, @list) %>
          <%= link_to "edit list", edit_list_path(@list.id) %>
          <% if @list.items.count == 0 && can?(:delete, @list) %>
            <%= link_to "delete list", @list, method: :delete, data: { confirm: "You sure?" }, title: @list.name %>
          <% end %>
        <% end %>
      </span>

      <span>
        <%= pluralize(@list.items.count, "item") %>
      </span>

    </section>

    <% if signed_in? && can?(:update, @list) %>
      <section>
        <%= render 'items/form' %>
      </section>
    <% end %>

  </aside>
  <div class="col-sm-8 col-md-8">
    <h3>Item Feed</h3>

    <% if @items.any? %>
      <ol class="lists">
        <%= render partial: 'items/item', collection: @items %>
      </ol>
      <%= will_paginate @items %>
    <% end %>
  </div>
</div>

