<% provide(:title, 'Item Search') %>
<h1>Item Search</h1>

<%= form_tag search_path, method: :get, id: "search" do %>
  <%= text_field_tag :search, params[:search],
    style: "width: 30%",
    autocomplete: "off",
    class: "vatop" %>
  <%= submit_tag "filter", name: nil, class: "btn vatop" %>
<% end %>

<% if params[:search] %>
  <%= pluralize(@total_items, 'result') %> found<br>
<% end %>

<%= will_paginate(@items) %>

<ul class="items">
  <%= render @items %>
</ul>
