<%= form_for(@recipe) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :ingredients %>
    <%= f.text_area :ingredients, rows: 5 %>
  </div>

  <div class="field">
    <%= f.label :instructions %><br>
    <%= f.text_area :instructions, rows: 5 %>
  </div>

  <div class="actions">
    <%= f.submit value: "Update", class: "btn btn-lg btn-primary" %>
  </div>

<% end %>
