<%= form_for(@recipe) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <!-- convert list of ingreds/amounts to a text area here (use a helper?) -->
    <%= f.label :ingredients %>
    <%= f.text_area :recipe_ingredients %>
  </div>

<!--
  <div class="field">
    <%= f.label :ingredients %>
    <%= render partial: "recipe_ingredient", collection: @recipe.recipe_ingredients %>
  </div>
  -->

  <div class="field">
    <%= f.label :instructions %><br>
    <%= f.text_area :instructions %>
  </div>

  <div class="actions">
    <%= f.submit value: "Update", class: "btn btn-large btn-primary" %>
  </div>

<% end %>
