- provide(:title, @user.name)

.row
  %aside{class: "span4"}
    %section
      %h1
      = gravatar_for @user
      = @user.name

  .span8
    - if @user.lists.any?
      %h3 Lists (#{@user.lists.count})
      %ol.lists
        = render @lists

      = will_paginate @lists

