<li id="<%= feed_item.id %>">
  <span class="name">
  <%= link_to wrap(feed_item.name), list_path(feed_item.id) %>
  <% if feed_item.private? %>
    <i class="icon-lock"></i>
  <% end %>
  <span class="item-count">
  | <%= pluralize(feed_item.items.size, 'item') %>
  </span>
  </span>
	<span class="timestamp">
		Updated <%= time_ago_in_words(feed_item.updated_at) %> ago.
	</span>
	<% if current_user?(feed_item.user) %>
		<%= render 'shared/delete_list_link', object: feed_item %>
	<% end %>
</li>
