<%= form_for([current_user, current_user.attachments.build], html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :attachment %>
    <%= f.file_field :media, class: 'form-control' %>
  </div>

  <%= f.submit "Add Attachment", class: "btn btn-lg btn-primary form-control" %>
<% end %>
