<li id="<% item.id %>">
  <span class="content">
    <%= auto_link( item.content, html: { target: '_blank' } ) %>
  </span>

  <span class="timestamp">
    Updated <%= time_ago_in_words(item.updated_at) %> ago.
  </span>

  <span class="row">
  <%= link_to image_tag("1396330035_file_search.png", alt: "show"), item, class: 'icon' %>
  <% if signed_in? && can?(:update, item.list) %>
    <%= link_to image_tag("1396327101_file_edit.png", alt: "edit"), edit_item_path(item.id), class: 'icon' %>
    <%= link_to image_tag("1396329940_file_delete.png", alt: "delete"), item, method: :delete, data: { confirm: "You sure?" }, title: item.content, class: 'icon' %>
    <%= link_to image_tag("bump.png", alt: "edit"), bump_item_path(item), method: :put, class: 'icon' %>
  <% end %>
  </span>
</li>
