- provide(:title, "Edit item")
%h1 Update item

.row
  %div{class: "span6 offset3"}
    = form_for(@item) do |f|
      = render 'shared/error_messages', object: f.object

      = f.label :move_to_list
      = f.collection_select :list_id, @item.list.user.lists, :id, :name

      = f.label :content
      = f.text_area :content

      = f.submit "Save changes", class: "btn btn-large btn-primary"
