<%= provide(:title, "View item") %>
<h1>View item</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@item) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :content %>
			<%= f.text_area :content, readonly: true %>
    <% end %>
    <%= link_to "\u2190 Back to list", @item.list %>
  </div>
</div>
