<% provide(:title, "View item") %>
<h4>View item</h4>

<div class="row">
  <div class="col-sm-12 col-md-12">
    Current List:
    <strong><%= @item.list.name %></strong>
    <p/>

    <%= form_for(@item) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :content %>
      <%= f.text_area :content, readonly: true, rows: 14, class: 'form-control' %>

    <% end %>
    <%= render partial: "list_link", locals: {item: @item} %>

    <% if signed_in? && can?(:update, @item.list) %>
      <%= link_to image_tag("1396327101_file_edit.png", alt: "edit"), edit_item_path(@item.id), class: 'icon' %>
      <%= link_to image_tag("1396329940_file_delete.png", alt: "delete"), @item, method: :delete, data: { confirm: "You sure?" }, title: @item.content, class: 'icon' %>
      <%= link_to image_tag("bump.png", alt: "edit"), bump_item_path(@item), method: :put, class: 'icon' %>
    <% end %>

  </div>
</div>
